  <div id="dataWindow">
    <div id="value">
      <div id="previewGuy">
        <div id="image"></div>
        <div id="infos">
          <div id="username"></div>
          <div id="full_name"></div>
          <div id="city"></div>
          <div id="country"></div>
        </div>
      </div> 
      <div id="stats">
        <div id="test">
          <div id="followers"></div>
          <div id="following"></div>
          <div id="tracksNumber"></div> 
          <div id="follow">
            <button type="button" idToFollow="" class="btn btn-default" id="followbutton">Follow</button>
            <button type="button" idToAdd="" class = "btn btn-default" id="addfriendbutton"> Add </button>
          </div>
        </div>
      </div>
    </div>
    <div id="listViewTrack" >

      <div id="tabsWithStyle" class="style-tabs">
        <ul id="mytabs">
          <li><a href="#tracks"><div class="icon tracks-icon">Tracks</div></a></li>
          <li><a href="#likes"><div class="icon likes-icon">Likes</div></a></li>
          <li><a href="#playlists"><div class="icon playlists-icon">Playlists</div></a></li>
          <li><a href="#user-friends"><div class="icon user-friends-icon">Friends</div></a></li>
          <li class="tabFriends"><a href="#my-friends"><div class="icon my-friends-icon">My Friends</div></a></li>
        </ul>
        <div id="tracks">
          <ul data-role="listview"  id="track-list" data-theme="a">
          </div>
          <div id="likes">
            <ul data-role="listview"  id="likes-list" data-theme="a">
            </div>
            <div id="playlists">
              <ul data-role="listview"  id="playlists-list" data-theme="a">
              </div>
              <div id="user-friends">
                <ul data-role="listview"  id="user-friends-list" data-theme="a">
                </div>
                <div id="my-friends">
                  <ul data-role="listview"  id="my-friends-list" data-theme="a">
                  </div>

                </div>
                <script type="text/javascript">
                  function changeRoot(id_donne)
                  {
                    $.ajax({

            url: "/application/changeRoot", // Route to the Script Controller method
            type: "GET",
            dataType: "json",
            data: { id_donne:  id_donne}, // This goes to Controller in params hash, i.e. params[:file_name]
            complete: function() {},
            success: function(data, textStatus, xhr) {
              $myJson=data;
              $.ajax({

                        url: "/followings", // Route to the Script Controller method
                        type: "GET",
                        dataType: "json",
                        data: { id_donne:  <%=@current_user.uid%>}, // This goes to Controller in params hash, i.e. params[:file_name]
                        complete: function() {},
                        success: function(data2, textStatus, xhr) {},
                        error: function() {
                          // alert("Ajax error!")
                        }
                      }); 

              console.log("ayé données récupérées");
              $("#zoneAffichageTree").remove();
              $("#search-result").empty();  
              $navigationSurMoi=false;
              initiategraph();
              $("#buttonMoi").show();
              $("#search-text").val("");
            },
            error: function() {
              // alert("Ajax error!");
            }

          });
}

$("#tabsWithStyle").tabs();
</script>



</div>
</div>

<script>
  $(window).resize(function(){
    $height=$(window).height();
    $width=$(window).width();
    $("#viewWindow").height($height-150);
    $("#viewWindow").width($width);
    var viewerWidth = $("#tree-container").width();
    var viewerHeight = $("#tree-container").height();
    $("#zoneAffichageTree").height($height-150);
    $("#zoneAffichageTree").width($width);

  });
  $body = $("body");
  $loadFollow=false;
  $loadInit=false;
  $loadTracks=false;
  $loadSearch=false;

  $(document).on({
    ajaxStart: function() { 
      if($loadFollow==true){
        $body.addClass("loadingFollowers")
      }
      if($loadTracks==true)
      {
        $body.addClass("loadingTracks");
      }
      if($loadSearch==true)
      {
        $body.addClass("loadingSearch");
      }    
    },
    ajaxStop: function() {
      $body.removeClass("loadingFollowers");
      $body.removeClass("loadingTracks"); 
      $body.removeClass("loadingSearch"); 
    }    
  });

  $(document).ready(function() {
    $premierClicDivNotificationFait=false;
    $DivNotificationOuvert=false;
    $numberUnreadNotif=0;
    $requests=[];
    $arrayvaleurmyfriends=[];
    $friend_image_url=null;

    $compteurFriends=0;
    $donneesfriends=null;
    $("#buttonMoi").hide();
    $selectednode=null;
    $rootNode=null;
    $menuOuvert=false;
    $premierClic=false;
    $functionClick=null;
    $functionUpdate=null;
    $functionflatten=null;
    $functionExpand=null;
    $navigationSurMoi=true;
    $("#tracks").mCustomScrollbar();
    $("#likes").mCustomScrollbar();


    $('#search-text').on('input', function() {
      $loadSearch=true;
      $("#search-result").empty();  
      for(var i = 0; i < $requests.length; i++)
        $requests[i].abort();
      $requests.push(
       $.ajax({

                                     url: "/application/search", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { username:  $("#search-text").val()}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function() {
                                    },
                                    success: function(data, textStatus, xhr) {
                                      $("#search-result").empty();  

                                      $('#search-result').append('<li style="cursor:pointer;" id="resultatRecherche" idguy='+data["children"].id+' ">'+data["children"].username+'</li>');
                                      $loadSearch=false;


                                    },
                                    error: function() {
                                      //alert("Ajax error!")
                                    }
                                  })); 

});

  $.ajax({

            url: "/notifications/getUnreadNotifications/", // Route to the Script Controller method
            type: "POST",
            dataType: "json",
            complete: function() {},
            success: function(data, textStatus, xhr) {
              $numberUnreadNotif=data.children.length;
              $("#numberUnreadNotif").text(data.children.length);
            },
            error: function() {
              // alert("Ajax error!");
            }

          });

  $( "#search-result" ).on("click","li#resultatRecherche", function(event) {    
    $.ajax({

                                     url: "/application/changeRoot", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { id_donne:  $("#resultatRecherche").attr('idguy')}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function(


                                      ) {},
                                    success: function(data, textStatus, xhr) {
                                      $myJson=data;
                                      $.ajax({

                                     url: "/followings", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { id_donne:  <%=@current_user.uid%>}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function(


                                      ) {},
                                    success: function(data2, textStatus, xhr) {
                                      // console.log(data2);
                                      




                                    },
                                    error: function() {
                                      // alert("Ajax error!")
                                    }
                                  }); 
                                      console.log("ayé données récupérées");
                                      $("#zoneAffichageTree").remove();
                                      $("#search-result").empty();  
                                      $navigationSurMoi=false;
                                      initiategraph();
                                      $("#buttonMoi").show();
                                      $("#search-text").val("");



                                    },
                                    error: function() {
                                      // alert("Ajax error!")
                                    }
                                  }); 

});


  initiategraph();

  $height=$(window).height();
  $width=$(window).width();
  $("#viewWindow").height($height-150);
  $("#viewWindow").width($width);
  var viewerWidth = $("#tree-container").width();
  var viewerHeight = $("#tree-container").height();

  $myJson=  <%=raw '{ "children":'%><%=raw @list_followings%><%= raw  '
  , "id":'%><%=raw @current_user.uid%><%= raw  ',
  "kind":"user",
  "permalink":"'%><%=raw @client.get('/me').permalink%><%=raw'",
  "avatar_url":"'%><%=raw @client.get('/me').avatar_url%><%=raw'",
  "followings_count":'%><%=raw @client.get('/me').followings_count%><%=raw',
  "followers_count":'%><%=raw @client.get('/me').followers_count%><%=raw',
  "description":"'%><%= raw @client.get('/me').description%><%=raw'",
  "username":"'%><%= raw @client.get('/me').username%><%=raw'"  }'%>;


  $myFollowList=<%=raw @list_followings%>;

  treeData=$myJson;
  $("#follow").hide();
  $("#followers").hide();
  $("#following").hide();
  $("#tracksNumber").hide();


  $("#buttonMoi").click(function(){
    $.ajax({

                                     url: "/application/changeRoot", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { id_donne:  <%=@current_user.uid%>}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function(


                                      ) {},
                                    success: function(data, textStatus, xhr) {
                                      $myJson=data;
                                      console.log("ayé données récupérées");
                                      $("#zoneAffichageTree").remove();
                                      $("#search-result").empty();  
                                      $navigationSurMoi=true;
                                      initiategraph();
                                      $("#buttonMoi").hide();
                                      $("#search-text").val("");


                                    },
                                    error: function() {
                                      // alert("Ajax error!")
                                    }
                                  }); 
});



  $("#followbutton").click(function(){
    if($(this).html()=="Follow")
    {

      $.ajax({

                                     url: "/application/ajouteFollow", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { id_donne: $(this).attr("idToFollow")}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function(


                                      ) {},
                                    success: function(data, textStatus, xhr) {
                                      if($navigationSurMoi==true){

                                        var index = $selectednode.parent.children.indexOf($selectednode);
                                        if (index > -1) {
                                          $selectednode.parent.children.splice(index, 1);
                                        }
                                        $rootNode[$rootNode.length-1].children.push($selectednode);
                                        $functionClick($selectednode);
                                        $functionClick($selectednode);
                                      }
                                      $("#followbutton").removeClass('btn-default');
                                      $("#followbutton").addClass('btn-warning');
                                      $("#followbutton").html('Following');
                                      setTimeout(function(){$functionUpdate($selectednode)
                                      },750);
                    // Make sure that the node being added to is expanded so user can see added node is correctly moved
                  },
                  error: function() {
                    // alert("Ajax error!")
                  }
                }); 
}
if($(this).html()=="Following")
{
  $(this).addClass('btn-default');
  $(this).removeClass('btn-warning');
  $(this).html('Follow');
  $.ajax({

                                     url: "/application/deleteFollow", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { id_donne:  $(this).attr("idToFollow")}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function(


                                      ) {},
                                    success: function(data, textStatus, xhr) {
                                      if($navigationSurMoi==true){

                                        var index = $selectednode.parent.children.indexOf($selectednode);
                                        if (index > -1) {
                                          $selectednode.parent.children.splice(index, 1);
                                        }
                                        $functionClick($rootNode[$rootNode.length-1]);
                                        $functionClick($rootNode[$rootNode.length-1]);
                                        setTimeout(function(){$functionUpdate($rootNode[$rootNode.length-1])
                                        },750);
                                      }

                                      $("#followbutton").removeClass('btn-warning');
                                      $("#followbutton").addClass('btn-default');
                        $("#followbutton").html('');                                //$myJson["children"]=data;
                        if($navigationSurMoi==false)
                        {
                        $("#followbutton").html('Follow');                                //$myJson["children"]=data;

                      }

                    },
                    error: function() {
                      // alert("Ajax error!")
                    }
                  }); 
}

});$("#addfriendbutton").click(function(){
  $idtoadd=$(this).attr("idtoadd");
  $.ajax({

   url: "/friendships/", 
   type: "POST",
   dataType: "json",
   data: { friend_id: $idtoadd}, 
   complete: function(


    ) {},
   success: function(data, textStatus, xhr) {
                                      // console.log(data);
                                      if(data.result==true)
                                      {
                                        alert("ami ajouté")
                                      }
                                      else
                                        alert("l'utilisateur n'est pas inscrit sur soundcloud explorer, parlez lui de l'application pour qu'il s'inscrive blablabla")
                                    },
                                    error: function() {
                                    }
                                  }); 

});

        //Ici on met les infos du mec qui s'enregistre
        document.getElementById("username").innerHTML="<%=@current_user.username%>"; 

        $('#image').css("background-image","url("+"<%=@client.get('/me').avatar_url.sub! 'large', 't500x500'%>" +")");
        // $( "#tabs" ).tabs();
        $("div.ui-tabs-panel").css('padding','0px');


        // ici on charge le dernier like du mec enregistré
        var widget = SC.Widget(document.getElementById('soundcloud_widget'));
                 //on charge la lsite des likes /tracks du mec
                 $.ajax({

                             url: "/application/urltracks", // Route to the Script Controller method
                             type: "GET",
                             dataType: "json",
                            data: { id_donne: <%=raw @client.get('/me').id%>}, // This goes to Controller in params hash, i.e. params[:file_name]
                            complete: function(


                              ) {},
                            success: function(data, textStatus, xhr) {
                              $("#track-list").empty();
                              for(var index =0;index<data["children"].length;index++)
                              {
                                var long_playcount=data["children"][index].playback_count;
                                var long_likecount=data["children"][index].favoritings_count;
                                var short_playcount=long_playcount;
                                var short_likecount=long_likecount;
                                var thousands=0;
                                var hundreds=0;
                                if(long_playcount>1000)
                                {
                                  thousands=Math.floor(long_playcount/1000);
                                  hundreds=Math.floor((long_playcount%1000)/100);

                                  if(hundreds>500)
                                  {
                                    thousands++;
                                  }
                                  short_playcount=""+thousands+"k";

                                }

                                if(long_likecount>1000)
                                {
                                  thousands=Math.floor(long_likecount/1000);
                                  hundreds=Math.floor((long_likecount%1000)/100);

                                  if(hundreds>500)
                                  {
                                    thousands++;
                                  }
                                  short_likecount=""+thousands+"k";

                                }

                                $('#track-list').append('<li class="track_li" style="cursor:pointer;" linkPlayer="'+data["children"][index].uri+'"><div class="titreTrack"><p>'+data["children"][index].title+'</p></div><div class="stat_track"><div class="play"><div class="playarrow"></div><div class="playcount"><p>'+short_playcount+'</p></div></div><div class="like"><div class="likeheart"></div><div class="likescount"><p>'+short_likecount+'</p></div></div></li>');

                              }

                            },
                            error: function() {
                              // alert("Ajax error!")
                            }
                          }); 
  $.ajax({

                             url: "/application/urllikes", // Route to the Script Controller method
                             type: "GET",
                             dataType: "json",
                            data: { id_donne: <%=raw @client.get('/me').id%>}, // This goes to Controller in params hash, i.e. params[:file_name]
                            complete: function(


                              ) {},
                            success: function(data, textStatus, xhr) {
                              $("#likes-list").empty();
                              // console.log(data.length);
                              for(var index =0;index<data["children"].length;index++)
                              {

                                var long_playcount=data["children"][index].playback_count;
                                var long_likecount=data["children"][index].favoritings_count;
                                var short_playcount=long_playcount;
                                var short_likecount=long_likecount;
                                var thousands=0;
                                var hundreds=0;

                                if(long_playcount>1000)
                                {
                                  thousands=Math.floor(long_playcount/1000);
                                  hundreds=Math.floor((long_playcount%1000)/100);

                                  if(hundreds>500)
                                  {
                                    thousands++;
                                  }
                                  short_playcount=""+thousands+"k";

                                }

                                if(long_likecount>1000)
                                {
                                  thousands=Math.floor(long_likecount/1000);
                                  hundreds=Math.floor((long_likecount%1000)/100);

                                  if(hundreds>500)
                                  {
                                    thousands++;
                                  }
                                  short_likecount=""+thousands+"k";

                                }
                                $('#likes-list').append('<li class="track_li" style="cursor:pointer;" linkPlayer="'+data["children"][index].uri+'"><div class="titreTrack"><p>'+data["children"][index].title+'</p></div><div class="stat_track"><div class="play"><div class="playarrow"></div><div class="playcount"><p>'+short_playcount+'</p></div></div><div class="like"><div class="likeheart"></div><div class="likescount"><p>'+short_likecount+'</p></div></div></li>');

                              }


                            },
                            error: function() {
                              // alert("Ajax error!")
                            }
                          }); 

  $.ajax({

                                     url: "/friendships/getFriendshipsPerUser/"+<%=@current_user.id%>, // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                     data:{id_donne: <%=@current_user.id%>} ,
                                     complete: function() {},
                                     success: function(data, textStatus, xhr) {
                                      $donneesfriends=data;
                                      for(var index=0;index<data["children"].length;index++)
                                      {
                                        // $arrayvaleurmyfriends.push(data["children"][index]["friend_id"]);
                                        $.ajax({
                                          url:"/users/show/"+data["children"][index].friend_id,
                                          type :"GET",
                                          dataType: "json",
                                          data:{id_donne: data["children"][index].friend_id},
                                          complete: function(){},
                                          success: function(data, textStatus, xhr){
                                            $compteurFriends++;
                                            var friend_id=$donneesfriends["children"][$compteurFriends-1].friend_id;
                                            $friend_image_url=null;


                                            $.ajax({

                                                 url: "/users/"+friend_id, // Route to the Script Controller method
                                                 type: "GET",
                                                 dataType: "json",
                                                 data:{id_donne: friend_id} ,
                                                 complete: function(data, textStatus, xhr) {},
                                                 success: function(data, textStatus, xhr) {
                                                  $friend_image_url=data["children"][0].image_url;
                                                  $('#my-friends-list').append('<li class="friend_li" style="cursor:pointer;" onclick="changeRoot('+data["children"][0].uid+')"><div class="previewFriend" id="my-friends-list-'+friend_id+'" id_friend='+friend_id+'></div></li>');

                                                  $('#my-friends-list-'+friend_id).css("background-image","url("+$friend_image_url+")");

                                                },
                                                error: function(){}
                                              });




},
error: function(){console.log("attends gros");}
});
}
},
error: function() { console.log("fail") }
}); 


});

  $("#div_notifications").click(function(){
    if ($premierClicDivNotificationFait==false) 
    {
      if ($numberUnreadNotif>0) {
        $.ajax({
            url: "/notifications/getUnreadNotifications/", // Route to the Script Controller method
            type: "POST",
            dataType: "json",
            complete: function() {},
            success: function(data, textStatus, xhr) {
              for(var i=0;i<data.children.length;i++){
                $("#list_notifications").append("<li>"+data.children[i].content+"</li>")
              }
            },
            error: function() {
              // alert("Ajax error!");
            }
          });
      }
      $.ajax({
            url: "/notifications/getReadNotifications/", // Route to the Script Controller method
            type: "POST",
            dataType: "json",
            complete: function() {},
            success: function(data, textStatus, xhr) {
              for(var i=0;i<data.children.length;i++){
                $("#list_notifications").append("<li>"+data.children[i].content+"</li>")
              }
            },
            error: function() {
              // alert("Ajax error!");
            }
          });
      
      $premierClicDivNotificationFait=true;
    }    
    
      if($DivNotificationOuvert==false)
      {
        $DivNotificationOuvert=true;

        $("#show_notifications").css("display","block");

      }
      else
      {
        $("#show_notifications").css("display","none");
        $DivNotificationOuvert=false;

      }
    
  });
</script>