  <div id="dataWindow">
      <div id="value">
        <div id="previewGuy">
          <div id="image"></div>
          <div id="infos">
            <div id="username"></div>
            <div id="full_name"></div>
            <div id="city"></div>
            <div id="country"></div>
          </div>
        </div>
        <div id="stats">
        <div id="test">
          <div id="followers"></div>
          <div id="following"></div>
          <div id="tracksNumber"></div> 
          <div id="follow">
            <button type="button" idToFollow="" class="btn btn-default" id="followbutton">Follow</button>
            </div>
          </div>
        </div>
      </div>
      <div id="listViewTrack" >

        <div id="tabs">

          <ul id="mytabs">
            <li ><a href="#tabs-1">Tracks</a></li>
            <li><a href="#tabs-2">Likes</a></li>
            <li class="tabPlaylist"><a href="#tabs-3">Playlists</a></li>
          </ul>
          <div id="tabs-1">
            <div id="loadTracks"></div>
           <ul data-role="listview"  id="track-list" data-theme="a">
           </ul>

         </div>
         <div id="tabs-2" >
            <div id="loadTracks"></div>
          <ul data-role="listview"  id="likes-list" data-theme="a">
          </ul>

        </div>

      </div>



    </div>
  </div>

<script>
$(window).resize(function(){
    $height=$(window).height();
    $width=$(window).width();
    $("#viewWindow").height($height-100);
    $("#viewWindow").width($width);
    var viewerWidth = $("#tree-container").width();
    var viewerHeight = $("#tree-container").height();
    $("#zoneAffichageTree").height($height-100);
    $("#zoneAffichageTree").width($width-100);

  });
  $body = $("body");
  $loadFollow=false;
  $loadInit=false;
  $loadTracks=false;
  $loadSearch=false;
$(document).on({
    ajaxStart: function() { 
      if($loadFollow==true){
        $body.addClass("loadingFollowers")
      }
      if($loadTracks==true)
      {
        $body.addClass("loadingTracks");
      }
       if($loadSearch==true)
      {
        $body.addClass("loadingSearch");
      }    
    },
     ajaxStop: function() {
      $body.removeClass("loadingFollowers");
      $body.removeClass("loadingTracks"); 
      $body.removeClass("loadingSearch"); 
    }    
});
              
  $(document).ready(function() {
    $requests=[];
    $("#buttonMoi").hide();
    $selectednode=null;
    $rootNode=null;
    $menuOuvert=false;
    $premierClic=false;
    $functionClick=null;
    $functionUpdate=null;
    $functionflatten=null;
    $functionExpand=null;
    $navigationSurMoi=true;
    $("#tabs-1").mCustomScrollbar();
    $("#tabs-2").mCustomScrollbar();


    $('#search-text').on('input', function() {
      $loadSearch=true;
      $("#search-result").empty();  
      for(var i = 0; i < $requests.length; i++)
        $requests[i].abort();
      $requests.push(
       $.ajax({

                                     url: "/application/search", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { username:  $("#search-text").val()}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function() {
                                    },
                                    success: function(data, textStatus, xhr) {
                                      $("#search-result").empty();  

                                      $('#search-result').append('<li style="cursor:pointer;" id="resultatRecherche" idguy='+data["children"].id+' ">'+data["children"].username+'</li>');
                                        $loadSearch=false;


                                    },
                                    error: function() {
                                      //alert("Ajax error!")
                                    }
                                  })); 

});

$( "#search-result" ).on("click","li#resultatRecherche", function(event) {    
  $.ajax({

                                     url: "/application/changeRoot", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { id_donne:  $("#resultatRecherche").attr('idguy')}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function(


                                      ) {},
                                    success: function(data, textStatus, xhr) {
                                      $myJson=data;
                                        $.ajax({

                                     url: "/followings", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { id_donne:  <%=@current_user.uid%>}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function(


                                      ) {},
                                    success: function(data2, textStatus, xhr) {
                                      console.log(data2);
                                      
                                     



                                    },
                                    error: function() {
                                      alert("Ajax error!")
                                    }
                                  }); 
                                      console.log("ayé données récupérées");
                                      $("#zoneAffichageTree").remove();
                                      $("#search-result").empty();  
                                      $navigationSurMoi=false;
                                      initiategraph();
                                      $("#buttonMoi").show();
                                      $("#search-text").val("");



                                    },
                                    error: function() {
                                      alert("Ajax error!")
                                    }
                                  }); 

});
initiategraph();

$("#headeralakon").css("top","-52px");
$height=$(window).height();
$width=$(window).width();
$("#viewWindow").height($height-100);
$("#viewWindow").width($width);
var viewerWidth = $("#tree-container").width();
var viewerHeight = $("#tree-container").height();
 
$myJson=  <%=raw '{ "children":'%><%=raw @list_followings%><%= raw  '
, "id":'%><%=raw @current_user.uid%><%= raw  ',
"kind":"user",
"permalink":"'%><%=raw @client.get('/me').permalink%><%=raw'",
"avatar_url":"'%><%=raw @client.get('/me').avatar_url%><%=raw'",
"followings_count":'%><%=raw @client.get('/me').followings_count%><%=raw',
"followers_count":'%><%=raw @client.get('/me').followers_count%><%=raw',
"description":"'%><%= raw @client.get('/me').description%><%=raw'",
"username":"'%><%= raw @client.get('/me').username%><%=raw'"  }'%>;


$myFollowList=<%=raw @list_followings%>;

treeData=$myJson;
$("#follow").hide();
$("#followers").hide();
$("#following").hide();
$("#tracksNumber").hide();


$("#buttonMoi").click(function(){
  $.ajax({

                                     url: "/application/changeRoot", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { id_donne:  <%=@current_user.uid%>}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function(


                                      ) {},
                                    success: function(data, textStatus, xhr) {
                                      $myJson=data;
                                      console.log("ayé données récupérées");
                                      $("#zoneAffichageTree").remove();
                                      $("#search-result").empty();  
                                      $navigationSurMoi=true;
                                      initiategraph();
                                      $("#buttonMoi").hide();
                                      $("#search-text").val("");


                                    },
                                    error: function() {
                                      alert("Ajax error!")
                                    }
                                  }); 
});

$("#buttonShowNav").click(function(){
  if($menuOuvert==false)
  {
    $("#headeralakon").animate({top:"0px"},250);
    $("#buttonShowNav").animate({top:"52px"},250);
    $menuOuvert=true;

  }
  else
  {
    $("#headeralakon").animate({top:"-52px"},250);
    $("#buttonShowNav").animate({top:"0px"},250);

    $menuOuvert=false;


  }

});

$("#followbutton").click(function(){
  if($(this).html()=="Follow")
  {

    $.ajax({

                                     url: "/application/ajouteFollow", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { id_donne: $(this).attr("idToFollow")}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function(


                                      ) {},
                                    success: function(data, textStatus, xhr) {
                                      if($navigationSurMoi==true){

                                        var index = $selectednode.parent.children.indexOf($selectednode);
                                        if (index > -1) {
                                          $selectednode.parent.children.splice(index, 1);
                                        }
                                        $rootNode[$rootNode.length-1].children.push($selectednode);
                                        $functionClick($selectednode);
                                        $functionClick($selectednode);
                                      }
                                      $("#followbutton").removeClass('btn-default');
                                      $("#followbutton").addClass('btn-warning');
                                      $("#followbutton").html('Following');
                                      setTimeout(function(){$functionUpdate($selectednode)
                                      },750);
                    // Make sure that the node being added to is expanded so user can see added node is correctly moved
                  },
                  error: function() {
                    alert("Ajax error!")
                  }
                }); 
}
if($(this).html()=="Following")
{
  $(this).addClass('btn-default');
  $(this).removeClass('btn-warning');
  $(this).html('Follow');
  $.ajax({

                                     url: "/application/deleteFollow", // Route to the Script Controller method
                                     type: "GET",
                                     dataType: "json",
                                    data: { id_donne:  $(this).attr("idToFollow")}, // This goes to Controller in params hash, i.e. params[:file_name]
                                    complete: function(


                                      ) {},
                                    success: function(data, textStatus, xhr) {
                                      if($navigationSurMoi==true){

                                        var index = $selectednode.parent.children.indexOf($selectednode);
                                        if (index > -1) {
                                          $selectednode.parent.children.splice(index, 1);
                                        }
                                        $functionClick($rootNode[$rootNode.length-1]);
                                        $functionClick($rootNode[$rootNode.length-1]);
                                        setTimeout(function(){$functionUpdate($rootNode[$rootNode.length-1])
                                        },750);
                                      }

                                      $("#followbutton").removeClass('btn-warning');
                                      $("#followbutton").addClass('btn-default');
                        $("#followbutton").html('');                                //$myJson["children"]=data;
                        if($navigationSurMoi==false)
                        {
                        $("#followbutton").html('Follow');                                //$myJson["children"]=data;

                      }

                    },
                    error: function() {
                      alert("Ajax error!")
                    }
                  }); 
}

});

        //Ici on met les infos du mec qui s'enregistre
        document.getElementById("username").innerHTML="<%=@current_user.username%>"; 

        $('#image').css("background-image","url("+"<%=@client.get('/me').avatar_url.sub! 'large', 't500x500'%>" +")");
        $( "#tabs" ).tabs();
        $("div.ui-tabs-panel").css('padding','0px');



        // ici on charge le dernier like du mec enregistré
        var widget = SC.Widget(document.getElementById('soundcloud_widget'));
                 //on charge la lsite des likes /tracks du mec
                 $.ajax({

                             url: "/application/urltracks", // Route to the Script Controller method
                             type: "GET",
                             dataType: "json",
                            data: { id_donne: <%=raw @client.get('/me').id%>}, // This goes to Controller in params hash, i.e. params[:file_name]
                            complete: function(


                              ) {},
                            success: function(data, textStatus, xhr) {
                              $("#track-list").empty();
                              for(var index =0;index<data["children"].length;index++)
                              {
                                $('#track-list').append('<li class="track_li" style="cursor:pointer;" linkPlayer="'+data["children"][index].uri+'"><div class="titreTrack"><p>'+data["children"][index].title+'</p></div><div class="playcount"><p>'+data["children"][index].playback_count+'</p></div><div class="likescount"><p>'+data["children"][index].favoritings_count+'</p></li>');

                              }

                            },
                            error: function() {
                              alert("Ajax error!")
                            }
                          }); 
$.ajax({

                             url: "/application/urllikes", // Route to the Script Controller method
                             type: "GET",
                             dataType: "json",
                            data: { id_donne: <%=raw @client.get('/me').id%>}, // This goes to Controller in params hash, i.e. params[:file_name]
                            complete: function(


                              ) {},
                            success: function(data, textStatus, xhr) {
                              $("#likes-list").empty();
                              for(var index =0;index<data["children"].length;index++)
                              {
                                $('#likes-list').append('<li class="track_li" style="cursor:pointer;" linkPlayer="'+data["children"][index].uri+'"><div class="titreTrack"><p>'+data["children"][index].title+'</p></div><div class="playcount"><p>'+data["children"][index].playback_count+'</p></div><div class="likescount"><p>'+data["children"][index].favoritings_count+'</p></li>');

                              }


                            },
                            error: function() {
                              alert("Ajax error!")
                            }
                          }); 
});
  </script>