<%if !current_user%>
<h1>Welcome</h1>
<%else%>
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Force-Directed Graph</title>


  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="jquery.scrollabletab.js"></script>

  <script src="//connect.soundcloud.com/sdk.js"></script>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application"%>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://w.soundcloud.com/player/api.js"></script>
<link rel="stylesheet" href="jquery.mCustomScrollbar.css" />
<script src="jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
  $valeur_id_client=<%=current_user.uid%>
</script>
 
</head>

<div id="mainWindow">

  <div id="Search">
<div id="loadSearch"></div>

    <input type="text" class="form-control"  placeholder="Chercher un artiste" name="username" id="search-text">
    <button id="buttonMoi">Moi</button>
    <ul data-role="listview"  id="search-result" data-theme="a"></ul>
  </div>

  <div id="viewWindow">

  <%= render 'visualisation' %>
  <%= render 'tree' %>


</div>
<div class="player">
  <iframe id="soundcloud_widget" width="100%" height="100px" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=<%=@client.get('/me/favorites')[0].uri%>&show_artwork=false&liking=true&sharing=false&auto_play=false&visuel=false" ></iframe>
</div>
</div> 

<script>
  
</script>

<%end%>
